<a href="https://colab.research.google.com/github/harshgajjar87/PWSKILLS/blob/main/Module_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What are data structures, and why are they important?

Ans. Data structures are ways of organizing and storing data in a computer so it can be accessed and used efficiently. They are important because they allow for efficient data management, enhanced program performance, and help simplify complex problems, forming the foundation for many advanced computer science topics.

2. Explain the difference between mutable and immutable data types with examples.

Ans. Mutable data types can be changed after they are created (e.g., lists, dictionaries, sets), while immutable data types cannot be altered once defined (e.g., strings, tuples, integers, floats). Any "modification" to an immutable object actually creates a new object in memory, ensuring data integrity.

3. What are the main differences between lists and tuples in Python?

Ans. The main difference is mutability; lists are mutable (changeable), and tuples are immutable (unchangeable). Lists are defined using square brackets [], while tuples use parentheses (). Tuples are generally faster and more memory-efficient than lists for static data.

4. Describe how dictionaries store data.

Ans. Dictionaries store data in key-value pairs within curly braces {}. They use a hash table implementation internally, where each unique, immutable key is mapped to an index (or "bucket") using a hash function, allowing for very fast data retrieval.

5. Why might you use a set instead of a list in Python?

Ans. You would use a set over a list to store only unique elements or when you need fast membership testing (checking if an item exists in the collection). Sets automatically handle duplicate removal and offer O(1) average time complexity for membership checks, which is much faster than the O(n) complexity of lists.

6. What is a string in Python, and how is it different from a list?

Ans. A string in Python is an ordered, immutable sequence of characters. Unlike lists, which are mutable collections of elements, individual characters within a string cannot be changed after creation; operations appear to modify the string but instead create a new string object.

7. How do tuples ensure data integrity in Python?

Ans.  Tuples ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed, which prevents accidental data changes and makes them safe for data that should remain constant throughout a program.

8. What is a hash table, and how does it relate to dictionaries in Python?

Answer: A hash table is a data structure that maps keys to values using a hash function for fast insertion, retrieval, and deletion. In Python, dictionaries are the built-in implementation of hash tables.

9. Can lists contain different data types in Python?

Answer: Yes, lists in Python are heterogeneous and can contain different data types, including numbers, strings, or even other lists, tuples, and dictionaries.

10. Explain why strings are immutable in Python.

Answer: Strings are immutable to ensure data integrity and allow them to be used safely as dictionary keys or set elements, as their hash value remains constant throughout their lifetime. This design also provides inherent thread-safety in multi-threaded environments.

11. What advantages do dictionaries offer over lists for certain tasks?

Answer: Dictionaries offer significantly faster lookups and data retrieval based on a key (average O(1) time complexity) compared to lists (average O(n) time complexity). They are ideal for storing data with associated labels (keys) rather than just a sequential order.

12. Describe a scenario where using a tuple would be preferable over a list.

Answer: A tuple would be preferable for storing fixed, unchangeable data like a geographic coordinate (latitude, longitude), an RGB color value (255, 0, 0), or constant configuration settings. Its immutability guarantees the data remains consistent.

13. How do sets handle duplicate values in Python?

Answer: Sets automatically ensure all elements are unique. If you try to add a duplicate value to a set, it will simply be ignored, and only one instance of the value will be stored.

14. How does the "in" keyword work differently for lists and dictionaries?

Answer: The in keyword checks for an element's presence in a list (which is a linear scan, average O(n)) versus checking for a key's presence in a dictionary (which is a hash lookup, average O(1)). The dictionary check is significantly faster, especially for large collections.

15. Can you modify the elements of a tuple? Explain why or why not.

Answer: No, individual elements of a tuple cannot be modified because tuples are an immutable data type. Any attempt to change an element will result in a TypeError.

16. What is a nested dictionary, and give an example of its use case?

Answer: A nested dictionary is a dictionary that contains another dictionary as one or more of its values. A common use case is storing structured, hierarchical data, such as a contact list where the outer key is a name, and the value is another dictionary containing details like 'phone', 'email', and 'address'.

17. Describe the time complexity of accessing elements in a dictionary.

Answer: The average time complexity for accessing elements (using a key) in a Python dictionary is constant time, O(1). This efficiency is due to its underlying hash table implementation.

18. In what situations are lists preferred over dictionaries?

Answer: Lists are preferred when the order of elements matters and needs to be preserved, when you need to access elements by a numerical index, or when the data will be frequently modified with additions or deletions.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer: As of Python version 3.7, dictionaries maintain insertion order, but they were historically unordered because their elements are stored based on hash values, not sequential indices. This means you cannot rely on index-based access, but it enables the fast, key-based retrieval that defines their performance.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Answer: Lists use integer indices for data retrieval (e.g., my_list[0]), requiring a linear search through elements if the index is unknown. Dictionaries use unique, hashable keys for retrieval (e.g., my_dict['key']), allowing for near-instant (O(1) average time) access to the associated value.

1. Write a code to create a string with your name and print it.

In [1]:
str = input("Enter your name: ")
print(str)

Enter your name: Harsh Gajjar
Harsh Gajjar

2.  Write a code to find the length of the string "Hello World".

In [2]:
str = "Hello World"
print(len(str))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
str = "Python Programming"
print(str[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
str = "hello"
print(str.upper())

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [8]:
str = "I like apple"
print(str.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
list = []
for i in range(1,6):
  list.append(i)
print(list)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [10]:
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [17]:
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [22]:
list = ['a','b','c','d']
print(list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [26]:
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [27]:
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [28]:
tuple = ('red','green','blue','yellow')
print(tuple[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [34]:
tuple = (10,20,5,15)
print(min(tuple))

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [35]:
tuple = ('dog','cat','rabbit')
print(tuple.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [36]:
tuple = ('apple','banana','kiwi')
if 'kiwi' in tuple:
  print('kiwi is in the tuple')
else:
  print('kiwi is not in the tuple')

kiwi is in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [37]:
set = {'a','b','c'}
print(set)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [38]:
set = {1,2,3,4,5}
set.clear()
print(set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [39]:
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [40]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [41]:
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [42]:
dict = {'name':'Harsh','age':19,'city':'Ahmedabad'}
print(dict)

{'name': 'Harsh', 'age': 19, 'city': 'Ahmedabad'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [43]:
dict = {
    'name':'John',
    'age':25
}
dict['country'] = 'USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [44]:
dict = {
    'name':'Alice',
    'age':30
}
print(dict['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [48]:
dict = {
    'name': 'Bob',
    'age': 22,
    'city': 'New York'
}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [50]:
dict =  {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
  print('city is in the dictionary')
  print(dict['city'])
else:
  print('city is not in the dictionary')

city is in the dictionary
Paris

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [51]:
list = [1,2,3,4,5]
tuple = (1,2,3,4,5)
dict = {
    'name':'Harsh',
    'age':19
}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Harsh', 'age': 19}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [69]:
import random
list = []
result = []
for i in range(5):
  list.append(random.randint(1,100))
result = sorted(list)
print(list)
print(result)

[64, 57, 35, 53, 23]
[23, 35, 53, 57, 64]

28. Write a code to create a list with strings and print the element at the third index.

In [70]:
list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
for i in list:
  if list.index(i) == 2:
    print(i)

cherry

29. Write a code to combine two dictionaries into one and print the result.

In [71]:
dict1 = {'name':'Harsh','age':19}
dict2 = {'city':'Ahmedabad','age':20,'country':'India'}
dict1.update(dict2)
print(dict1)

{'name': 'Harsh', 'age': 20, 'city': 'Ahmedabad', 'country': 'India'}

30. Write a code to convert a list of strings into a set.

In [80]:
lst = ["apple","banana","cherry","dragon fruit"]
set4 = __builtins__.set(lst)
print(set4)

{'cherry', 'banana', 'apple', 'dragon fruit'}